body{
	margin: 0;
	padding: 0;
	font-family: arial;
	background: #f4f4f4;
}
ul, li, h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
:focus{
	outline: none;
}

ul li {
	list-style: none;
	display: block;
}
#wrapper{
	width: 1080px;
	margin: 70px auto 0;
	background: #fff;
	padding: 5px;
	border: 1px solid #ECECEC;
	overflow: hidden;
	box-sizing: border-box;
}
.left-section{
	width: 280px;
}
.right-section {
  width: 750px;
  margin-left: 30px;
}
.left-section, .right-section {
  float: left;
}
.category-header{
  background-color: #516780;
  color: #DFE8F4;
  font-size: 15px;
  padding: 12px 10px;
  font-weight: normal;
  margin: 1px 0 0 0;
  cursor: pointer;
  position: relative;
  pointer:cursor;
  transition:background-color 0.5s ease;
  -webkit-transition:background-color 0.5s ease;
  -moz-transition:background-color 0.5s ease;
}
.category-header:hover {
  background-color: #3E4F5E;
  }
.reports-list{
	background: #EEF4FA;
}
.reports-list ul{
	padding: 10px;
}
.reports-list ul li {
  border-bottom: 1px dotted #B8BBBE;
}
.reports-list ul li:last-child {
  border-bottom: 0;
}
.reports-list li span {
  padding: 8px 0;
  color: #5A5C76;
  font-size: 13px;
  display: block;
  cursor: pointer;
  transition: padding 0.4s ease;
  -webkit-transition: padding 0.4s ease;
  -moz-transition: padding 0.4s ease;

}
.reports-list li span:hover {
	color: #0C76CF;
  padding-left: 5px;
}
/*report title */
.report-title{
  font-size: 18px;
}
/* Customized bootstrap css*/
.navbar-default {
   background-color: #17969B;
  border-color: #40A3C0;
}
.navbar-default .navbar-brand {
  color: #F4F4F4;
}
@media (min-width: 1200px){
.container {
  width: 1100px ;
}
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 24px;
  line-height: 20px;
}
.panel-theme-1 {
  border-color: #D5E1EC;
}
.panel-theme-1 > .panel-heading {
  color: #2C3541;
  background-color: #E9F0F5;
  border-color: #D5E1EC;
}
.panel-theme-2 > .panel-heading {
  color: #7B6D56;
  background-color: #F7EFDD;
  border-color: #E2DED3;
}
.panel-theme-2 {
   border-color: #E2DED3;
}
